@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #111235;
  font-family: "Hellix";
  font-weight: 400;
}

span {
  font-weight: 700;
}

img {
  width: 100%;
}

p {
  font-size: 16px;
  width: 30%;
  margin: auto;
  padding-bottom: 25px;
}

button {
  border-radius: 35px;
  width: 20%;
  height: 6vh;
  border: none;
  font: 18px "Hellix";
}

.main-div {
  width: 30%;
  margin: auto;
  padding: 1% 2%;
  /* background-color: skyblue; */
  box-sizing: border-box;
}

.heading {
  font-weight: 400;
  font-size: 36px;
}

.pg1-heading {
  padding-bottom: 20px;
}

.pg1-text {
  padding: 0px 0px 10px;
  font-weight: 400;
  font-size: 48px;
}
.primary-btn {
  color: #ffffff;
  background-color: #4b5092;
}
