@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #111235;
  font-family: "Hellix";
  font-weight: 400;
  background-color: #e5e5e5;
}

span {
  font-weight: 700;
}

h2 {
  font-size: 48px;
  padding-top: 100px;
}

h5 {
  font-size: 24px;
  padding-bottom: 25px;
}

h6 {
  padding: 25px 0px 30px;
  font: 500 18px "Hellix";
}

p {
  font-size: 16px;
  margin: auto;
  min-width: 100%;
  padding-bottom: 15px;
  line-height: 24px;
}

hr {
  width: 100%;
  margin: 50px auto;
}

input {
  background-color: #e5e5e5;
  font: 14px "Hellix";
  border: none;
  height: 100%;
  color: #111235;
  width: 100%;
}

.main-div {
  margin: auto;
  width: 379px;
  padding: 1% 2%;
}
.main-div2 {
  margin: 75px auto;
  width: 420px;
  background: linear-gradient(to right, #bad4ff, #6487bf);
}

.main-div3 {
  margin: auto;
  width: 420px;
  padding: 0% 2%;
  box-sizing: border-box;
}

.pg1-div {
  margin: auto;
  min-width: 100%;
}

.exc-pic {
  width: 100%;
}

.heading {
  font-weight: 400;
  font-size: 36px;
}

.pg1-heading {
  padding-bottom: 20px;
}

.pg-text {
  font-weight: 400;
  width: 100%;
  padding: 0px 0px 10px;
}

.pg1-text {
  margin: auto;
  width: 90%;
  font-size: 64px;
}

.pg2-text {
  padding: 40px 0px 10px;
  text-align: start;
  width: 95%;
  font-size: 48px;
}

.pg2-p {
  text-align: start;
}

.pg3-p {
  padding: 10px 0px 20px;
  font-size: 18px;
}

.pg3-p2 {
  padding: 0px 10px 30px;
  box-sizing: border-box;
}

.pg4-text {
  padding: 0px 10px 50px;
  text-align: start;
  width: 95%;
  font-size: 48px;
}

.benefit-box {
  width: 90%;
  margin: 10px auto;
  border-radius: 30px;
  box-sizing: border-box;
}

.benefit-box1 {
  background-color: #e4f0ff;
}

.benefit-box2 {
  background-color: #727aef1a;
}

.benefit-text {
  padding: 50px 65px 30px 30px;
  text-align: left;
}

.primary-btn {
  border-radius: 35px;
  min-width: 70%;
  height: 6vh;
  border: none;
  font: 18px "Hellix";
  margin: 30px 0px;
  color: #ffffff;
  background-color: #4b5092;
  transition: 0.3s ease all;
}

.primary-btn:hover {
  background-color: #7176bf;
  cursor: pointer;
  transition: 0.3s ease all;
}

.secondary-btn {
  border-radius: 35px;
  min-width: 70%;
  height: 6vh;
  border: none;
  font: 18px "Hellix";
  color: #436baa;
  background-color: #ffffff;
  transition: 0.3s ease all;
}
.secondary-btn:hover {
  color: #436baa;
  background-color: #d3d3d3;
  cursor: pointer;
  transition: 0.3s ease all;
}

.pg2-div {
  padding-top: 125px;
}

.pg3-div {
  margin: auto;
  width: 100%;
}

.trainer-pic {
  padding-top: 40px;
  margin-bottom: -6px;
}

.footer-heading {
  padding-bottom: 50px;
}

.footer-link {
  background-color: #e5e5e5;
  border: none;
  font: 16px "Hellix";
  color: #111235;
  margin: auto;
  display: block;
  padding-bottom: 25px;
}
.footer-link:hover {
  cursor: pointer;
}

.form-div {
  display: flex;
  height: 10vh;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.send-btn {
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}

.icon-div {
  margin: 30px auto 50px;
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.icon {
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}

#copyright {
  font-size: 14px;
  margin-bottom: 4vh;
}

@media only screen and (min-width: 1285px) {
  * {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-around;
  }
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    height: 100vh;
  }

  .desktop-div1 {
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    background-color: red;
    padding: 25px 100px 0px 100px;
  }
  .desktop-div2 {
    box-sizing: border-box;
    padding: 25px 100px 0px 100px;
    text-align: left;
    width: 50%;
    background-color: blue;
  }

  .pg-text {
    margin: 100px 0px;
  }

  .first-paragraph {
    box-sizing: border-box;
    padding-right: 50px;
  }

  .header-links {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .link {
    background-color: #e5e5e5;
    border: none;
    font: 16px "Hellix";
    color: #111235;
    padding: 0 20px;
  }

  .primary-btn {
    min-width: 250px;
  }

  #situp-pic {
    box-sizing: border-box;
    padding: 25px;
  }

  #search-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateY(-10px);
  }
}
