@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #111235;
  font-family: "Hellix";
  font-weight: 400;
}

span {
  font-weight: 700;
}

h2 {
  font-size: 48px;
  padding-top: 100px;
}

p {
  font-size: 16px;
  margin: auto;
  min-width: 100%;
  padding-bottom: 25px;
  line-height: 24px;
}

button {
  border-radius: 35px;
  min-width: 70%;
  height: 6vh;
  border: none;
  font: 18px "Hellix";
}

.main-div {
  margin: auto;
  width: 379px;
  padding: 1% 2%;
}
.main-div2 {
  margin: 75px auto;
  width: 420px;
  background: linear-gradient(to right, #bad4ff, #6487bf);
}

.pg1-div {
  margin: auto;
  min-width: 100%;
}

.exc-pic {
  width: 100%;
}

.heading {
  font-weight: 400;
  font-size: 36px;
}

.pg1-heading {
  padding-bottom: 20px;
}

.pg-text {
  font-weight: 400;
  width: 100%;
  padding: 0px 0px 10px;
}

.pg1-text {
  margin: auto;
  width: 90%;
  font-size: 64px;
}

.pg2-text {
  padding: 40px 0px 10px;
  text-align: start;
  width: 95%;
  font-size: 48px;
}

.pg2-p {
  text-align: start;
}

.pg3-p {
  padding: 10px 0px 20px;
  font-size: 18px;
}

.pg3-p2 {
  padding: 0px 10px 30px;
  box-sizing: border-box;
}

.primary-btn {
  margin-top: 15px;
  color: #ffffff;
  background-color: #4b5092;
}
.secondary-btn {
  color: #436baa;
  background-color: #ffffff;
}

.pg2-div {
  padding-top: 125px;
}

.pg3-div {
  margin: auto;
  width: 100%;
}

.trainer-pic {
  padding-top: 40px;
  margin-bottom: -5px;
}
